<div id="workout-collection" class="collection">
    <a  class="collection-item">

        <div id="workouts" ng-repeat="move in move.movements | orderBy: 'created_at':true | limitTo: 10">
            Date: <span>{{ move.date | date:'medium' }}</span> <br>
          <div ng-repeat="exercises in move.exercises">
            Exercise: <span>{{ exercises.name}}</span> <br>
            Weight: <span>{{ exercises.weight }} kg</span> <br>
            Reps: <span> {{ exercises.reps }} </span><br>
            Sets: <span>{{ exercises.sets }}</span> <br>
          </div>

          </div>
    </a>
</div>
